.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.authPage {
  /* background-image: url("./assets/image/background/auth_bg.png"); */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-size: 50%; */
  background-color: #fff;
}

.bg-primary {
  background-color: #7a171b;
}

.bg-primary:hover {
  background-color: #a81e24;
}

.bg-analogus-1 {
  background-color: #995a1b;
}

.bg-analogus-1:hover {
  background-color: #ba6e22;
}

.bg-analogus-2 {
  background-color: #991b5a;
}

.bg-analogus-2:hover {
  background-color: #b81f6b;
}

.button-action {
  min-width: 32px;
}

.modal-close {
  background-color: #000;
  opacity: 0.8;
}

.data-table {
  width: 1100px;
}

.footer {
  background-color: rgb(0, 0, 10);
}

.forgotpass-page {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 10, 0.5),
      rgba(0, 0, 10, 1)
    ),
    url('./assets/image/background/together.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.jumbotron {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 10, 0.5),
      rgba(0, 0, 10, 1)
    ),
    url('./assets/image/background/profile2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center 40px;
  animation: change 20s infinite ease-in-out;
}
.jumbotron-gradation {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 10, 0.2),
    rgba(0, 0, 10, 0.8)
  );
}

@keyframes change {
  0% {
    background-image: url('./assets/image/background/profile2.jpg');
  }
  20% {
    background-image: url('./assets/image/background/profile2.jpg');
  }
  50% {
    background-image: url('./assets/image/background/profile1.jpg');
    background-position: 0 -80px;
  }
  80% {
    background-image: url('./assets/image/background/profile1.jpg');
    background-position: 0 -80px;
  }
  100% {
    background-image: url('./assets/image/background/profile2.jpg');
  }
}

.profile {
  background-image: url('./assets/image/background/night.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-color: black;
}

.scroll-hidden::-webkit-scrollbar {
  width: 0;
}

.shadow-89 {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.shadow-tobias-ahlin-44 {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.text-shadow {
  text-shadow: 0 0 3px #000;
}

.transparent-black-80 {
  background-color: rgba(0, 0, 10, 0.8);
}

.transparent-black-60 {
  background-color: rgba(0, 0, 10, 0.6);
}

.transparent-black-40 {
  background-color: rgba(0, 0, 10, 0.4);
}

.transparent-black-20 {
  background-color: rgba(0, 0, 10, 0.2);
}

.transparent-full {
  background-color: rgba(0, 0, 10, 0);
}

@media (max-width: 640px) or (max-height: 500px) {
  .min-height {
    height: auto !important ;
    min-height: 100vh;
    padding-top: 160px !important;
    padding-bottom: 80px !important;
  }
}

@media (min-width: 768px) {
  .auth-page {
    background-image: url('./assets/image/background/auth_bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50%;
  }
}

/* height of auth page responsive only */
@media (max-height: 766px) {
  .auth-page {
    height: auto !important;
  }
}

/* responsive small smartphone */
@media (min-width: 450px) {
  .xs-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
